<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OfficialReceiptApp.Properties.Settings.easyposConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=easypos;Persist Security Info=True;User ID=sa;Password=P@ssword1234"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="installerLocation" value="C:\Temp\Releases" />
    <add key="textFileLocation" value="C:\Temp\OR\logs" />
  </appSettings>
</configuration>